body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border:1px solid #ccc;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #ddd;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border:1px solid #ccc;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

/* Add padding to container elements */
.container, .title {
  padding: 16px;
  border:1px solid #ccc;
}

/* Add bottom margin to titles */
.title {
  margin-bottom: 16px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
}

.buttonsContainer > button {
  flex-grow: 1;
  width: auto;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

a:link {
color: black;
background-color: transparent;
text-decoration: none;
}

a:visited {
color: black;
background-color: transparent;
text-decoration: none;
}

a:hover {
color: black;
background-color: transparent;
text-decoration: underline;
}

a:active {
color: black;
background-color: transparent;
text-decoration: underline;
}
