AffinitiesNetwork/target/
AffinitiesNetwork/pom.xml.tag
AffinitiesNetwork/pom.xml.releaseBackup
AffinitiesNetwork/pom.xml.versionsBackup
AffinitiesNetwork/pom.xml.next
AffinitiesNetwork/release.properties
AffinitiesNetwork/dependency-reduced-pom.xml
AffinitiesNetwork/buildNumber.properties
AffinitiesNetwork/.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!AffinitiesNetwork/.mvn/wrapper/maven-wrapper.jar

# Don't commit netbeans config file
AffinitiesNetwork/nb-configuration.xml